[Unit]
Description=US Federal Data Exchange API
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/TheUSDX
ExecStart=/var/www/TheUSDX/venv/bin/gunicorn -w 4 -b 0.0.0.0:6732 api_server:app
Restart=always

[Install]
WantedBy=multi-user.target
